{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-astro"],
  "pluginSearchDirs": false,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
