---
import Header from "./Header.astro";
---

<div
  id="about"
  class="bg-gradient-to-t via-green-100 to-green-100 from-transparent min-h-dynamic-screen w-screen z-0 font-vina"
>
  <div
    class="mx-auto flex-col items-center justify-start max-w-[1920px] min-h-dynamic-screen min-w-[300px] w-full z-0 relative flex"
  >
    <div
      class="sticky top-0 w-full z-30 h-auto xs:h-[4rem] lg:h-[5rem] bg-white opacity-70 hover:opacity-100 transition-full duration-500 shadow-lg"
    >
      <Header />
    </div>
    <main class="grow w-full sm:w-11/12 z-10 relative min-h-screen">
      <!-- <About />
          <Skills />
          <Projects />
          <Contacts /> -->
    </main>
    <!-- <Hero />
        <Footer /> -->
  </div>
</div>
